@font-face { font-family: Truck; src: url('Truck-Yz4o.ttf'); }

#carousel-header-container{
    position: absolute;
    top: 16rem;
    margin-left: 41rem;
    font-family:Truck;
    color:white;
}

body{
    font-size:20px;
}
#caros{
 height:40rem;  
}
#card1{
    margin-top:-16.4rem;
    display:block;
    z-index: 120;
}
#card2{
    margin-left:27rem;
    margin-top:-29.3rem;
}
#card3{
    margin-left:54rem;
    margin-top:-29.2rem;
}
#btn1{
    background-color:black;
    border-color:black;
}
#btn2{
    background-color:black;
    border-color:black;
}
#btn3{
    background-color:black;
    border-color:black;
}
#redt{
    color:red;
    position:relative;
    text-align:center;
    justify-content:center;
}
#head2{
    position:relative;
    text-align:center;
    justify-content:center;
}
#text{
    position:relative;
    text-align:center;
    justify-content:center;
}
#inv{
    color:rgb(164,87,64);
    margin-left:20.5rem;
    margin-bottom:2rem;
}
#trucks{
    border-width: 0;
}
#trucks1{
    border-width: 0;
    margin-left:3rem;
    margin-right:3rem;
}
#trucks2{
    border-width: 0;
    margin-right:3rem;
}
#trucks3{
    border-width: 0;
}
#map{
    position:relative;
    text-align:center;
    justify-content:center;
    margin-left:13rem;
}
#vect{
    height:32rem;
}
#vect1{
    height:32rem;
}
#vect2{
    height:32rem;
}
#tshop{
    margin-top:15rem;
}
#buyinf{
    background-color:rgb(164,87,64);
}
#buyinf1{
    background-color:rgb(164,87,64);
}
#buyinf2{
    background-color:rgb(164,87,64);
}
#buyinf3{
    background-color:rgb(164,87,64);
}